<app-header></app-header>
<div class="Section_Contenu">
  <div class="Section_Contenu_banner"></div>
  <div class="search-form" id="Section_filtre">
    <div class="section_ajout">
      <button>Ajouter une Alerte</button>
    </div>
    <div id="cherche">
      <div class="Alert">
        <label for="prix">Filtrer par prix :</label>
        <select id="prix" [(ngModel)]="selectedPrice">
          <option value="">Tous les prix</option>
          <option value="50000">50 000 FCFA</option>
          <option value="100000">100 000 FCFA</option>
          <option value="150000">150 000 FCFA</option>
          <option value="200000">200 000 FCFA</option>
        </select>
        <button (click)="filterAlerts()">Appliquer</button>
      </div>
    </div>
  </div>

  <div class="Section_card">
    <div class="Card" *ngFor="let alert of filteredAlerts">
      <a
        class="card1"
        (click)="detailAlert(alert.id)"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <p>
          <span>{{ alert.etudiantPrenom }}</span
          >&nbsp;&nbsp;{{ alert.budget }} FCFA
        </p>
        <p class="small">{{ alert.description }}</p>
        <div class="go-corner">
          <div class="go-arrow">→</div>
        </div>
      </a>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Alert</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="info_contact">
            <div>
              <p>{{ alertFound?.etudiantPrenom }} {{ alertFound?.etudiant }}</p>
              <p>{{ alertFound?.budget }} FCFA</p>
            </div>
            <div>
              <span>
                <i
                  class="fa-brands fa-square-whatsapp"
                  (click)="redirectToWhatsapp()"
                  target="_blank"
                ></i
              ></span>
            </div>
          </div>

          <p>Prise en Charge: {{alertFound?.prisEnCharge==1?"Prise en charge":"Non prise en charge"}}</p>
          <p>Description: {{ alertFound?.description }}</p>
          <p>caracteristiques: {{ alertFound?.caracteristiques }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
