<div class="demi-cercle"></div>
<div class="footer">
  <div class="Section_Footer">
    <div class="Section_Footer_Left">
      <img src="../../../../assets/images/footerimage.png" alt="" />
    </div>
    <div class="Section_Footer_Right">
      <div class="Section_footer">
        <ul>
          <li>ImmoJeune</li>
          <li>A-Propos</li>
          <li>Publier une annonce</li>
          <li>Nous Contacter</li>
          <li>Annonce de location</li> 
        </ul>
      </div>
      <div class="Section_footer">
        <ul>
          <li>Votre logement Etudiant</li>
          <li routerLink="/louer">Location Etudiant</li>
          <li routerLink="/louer">Location Studio</li>
          <li routerLink="/louer">Residence Etudiante</li>
          <li routerLink="/louer">Collocation</li>
        </ul>
      </div>
      <div class="Section_footer">
        <ul>
          <li>Liens Rapides</li>
          <li>Qui somme nous?</li>
          <li>Politique de Confidentialite</li>
          <li>Mention Légale</li>
          <li>Plan du Site</li>
        </ul>
      </div>
      <div class="Section_footer">
        <ul>
          <li>Liens Rapides</li>
          <li routerLink="/a-propos">Qui somme nous?</li>
          <li routerLink="/politique_confidentialite">
            Politique de Confidentialite
          </li>
          <li routerLink="/mention_legale">Mention Légale</li>
          <li routerLink="/plan_du_site">Plan du Site</li>
        </ul>
      </div>
    </div>
    <div class="ligne-horizontal"></div>
    <p style="text-align: center">Copyright 2023 SenStudentHousing</p>
  </div>
</div>
