<app-header></app-header>
<div class="Container">
  <div class="Section_contenu">
    <div class="banner">
      <h3>Plan du Site</h3>
    </div>
    <div class="lien_home">
      <i class="fa-solid fa-house"></i>
      <span id="home">Acceuil</span>
      <i class="fa-solid fa-chevron-right"></i>
      <span>Plan du site</span>
    </div>
    <div class="Plan_site">
      <div class="Plan_site_left">
        <h4>Plan du Site</h4>
        <ul>
          <li>Accueil</li>
          <li>Connexion</li>
          <li>Inscription</li>
          <li>Mot de passe oublié?</li>
          <li>Louer</li>
          <li>Proposer un bien</li>
          <li>Alert</li>
          <li>A-propos</li>
          <li>Deposer une Annonce</li>
          <li>Creer une Alert</li>
          <li>Qui sommes nous</li>
          <li>Annonce de location</li>
          <li>Plan du site</li>
          <li>Contacte nous</li>
        </ul>
      </div>
      <div class="Plan_site_right">
        <ul>
          <li>Section FAQ</li>
          <li>Politique de confidentialité</li>
          <li>Mention Legale</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
