<app-header></app-header>
<div class="Section_Contenu">
  <div class="Section_Card">
    <div class="card1">
      <div class="card_image">
        <img src="assets/images/logement4.png" alt="" />
      </div>
      <div class="card_info">
        <div class="card_info_left">
          <h6>Collocation</h6>
          <p>Julia <span id="surface">75 m2</span></p>
        </div>
        <div class="card_info_right">
          <h6 id="prix">70.000 FCFA</h6>
          <p><i class="fa-solid fa-location-dot"></i> Dakar (Ouakam)</p>
        </div>
      </div>
    </div>

    <div class="card1">
      <div class="card_image">
        <img src="assets/images/logement2.jpg" alt="" />
      </div>
      <div class="card_info">
        <div class="card_info_left">
          <h6>Collocation</h6>
          <p>Julia <span id="surface">75 m2</span></p>
        </div>
        <div class="card_info_right">
          <h6 id="prix">70.000 FCFA</h6>
          <p><i class="fa-solid fa-location-dot"></i> Dakar (Ouakam)</p>
        </div>
      </div>
    </div>

    <div class="card1">
      <div class="card_image">
        <img src="assets/images/logement3.png" alt="" />
      </div>
      <div class="card_info">
        <div class="card_info_left">
          <h6>Collocation</h6>
          <p>Julia <span id="surface">75 m2</span></p>
        </div>
        <div class="card_info_right">
          <h6 id="prix">70.000 FCFA</h6>
          <p><i class="fa-solid fa-location-dot"></i> Dakar (Ouakam)</p>
        </div>
      </div>
    </div>

    <div class="card1">
      <div class="card_image">
        <img src="assets/images/logement6.jpg" alt="" />
      </div>
      <div class="card_info">
        <div class="card_info_left">
          <h6>Collocation</h6>
          <p>Julia <span id="surface">75 m2</span></p>
        </div>
        <div class="card_info_right">
          <h6 id="prix">70.000 FCFA</h6>
          <p><i class="fa-solid fa-location-dot"></i> Dakar (Ouakam)</p>
        </div>
      </div>
    </div>

    <div class="card1">
      <div class="card_image">
        <img src="assets/images/logement5.jpg" alt="" />
      </div>
      <div class="card_info">
        <div class="card_info_left">
          <h6>Collocation</h6>
          <p>Julia <span id="surface">75 m2</span></p>
        </div>
        <div class="card_info_right">
          <h6 id="prix">70.000 FCFA</h6>
          <p><i class="fa-solid fa-location-dot"></i> Dakar (Ouakam)</p>
        </div>
      </div>
    </div>

    <div class="card1">
      <div class="card_image">
        <img src="assets/images/logement1.jpg" alt="" />
      </div>
      <div class="card_info">
        <div class="card_info_left">
          <h6>Collocation</h6>
          <p>Julia <span id="surface">75 m2</span></p>
        </div>
        <div class="card_info_right">
          <h6 id="prix">70.000 FCFA</h6>
          <p><i class="fa-solid fa-location-dot"></i> Dakar (Ouakam)</p>
        </div>
      </div>
    </div>

    <div class="card1">
      <div class="card_image">
        <img src="assets/images/logement5.jpg" alt="" />
      </div>
      <div class="card_info">
        <div class="card_info_left">
          <h6>Collocation</h6>
          <p>Julia <span id="surface">75 m2</span></p>
        </div>
        <div class="card_info_right">
          <h6 id="prix">70.000 FCFA</h6>
          <p><i class="fa-solid fa-location-dot"></i> Dakar (Ouakam)</p>
        </div>
      </div>
    </div>

    <div class="card1">
      <div class="card_image">
        <img src="assets/images/logement2.jpg" alt="" />
      </div>
      <div class="card_info">
        <div class="card_info_left">
          <h6>Collocation</h6>
          <p>Julia <span id="surface">75 m2</span></p>
        </div>
        <div class="card_info_right">
          <h6 id="prix">70.000 FCFA</h6>
          <p><i class="fa-solid fa-location-dot"></i> Dakar (Ouakam)</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
