<app-header></app-header>
<div class="Section_Contenu_banner"></div>

<div class="Section_Contenu">
  <div class="search-form" id="Section_filtre">
    <div id="cherche">
      <div class="check">
        <label
          for="type"
          style="
            font-weight: bold;
            text-decoration: underline;
            margin-top: -4px;
          "
          >Type de logement:</label
        >
        <div class="Section_check">
          <div>
            <input
              type="checkbox"
              id="studio"
              name="type"
              value="studio"
              [(ngModel)]="searchCriteria.type.studio"
              style="padding: 0.2em"
            />
            <label for="studio">Studio</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="appartement"
              name="type"
              value="appartement"
              [(ngModel)]="searchCriteria.type.appartement"
            />
            <label for="appartement">Appartement</label>
          </div>
        </div>
      </div>

      <div class="localite">
        <label for="localite">Localité:</label>&nbsp;&nbsp;
        <!-- <input
          type="text"
          id="localite"
          name="localite"
          [(ngModel)]="searchCriteria.localite"
        /> -->
        <select name="localite" id="" [(ngModel)]="searchCriteria.localite">
          <option value="">Selection par localite</option>
          <option
            *ngFor="let localite of localite"
            [value]="localite.nomLocalite"
          >
            {{ localite.nomLocalite }}
          </option>
        </select>

        <button (click)="search()">Rechercher</button>
      </div>
    </div>

    <div class="filtre_localite">
      <select name="budget" id="budget">
        <option value="filtre par budget">Filtre budget</option>
        <option value="0-50000">0-50.000 FCFA</option>
        <option value="50000-100000">50.000-100.000 FCFA</option>
        <option value="100000-200000">100.000-200.000 FCFA</option>
      </select>
      <button>Créer une alerte</button>
    </div>
  </div>

  <div class="Section_Card">
    <!-- Recherche Avancée Component -->

    <!-- Fin Recherche Avancée Component -->

    <div class="card1" *ngFor="let logement of tabMessageFilter1">
      <div class="card_image">
        <div *ngIf="logement.firstImage !== ''">
          <img
            *ngIf="logement.firstImage"
            [src]="logement.firstImage"
            alt=""
            [routerLink]="['/detail-annonce', logement.id]"
          />
        </div>
        <div *ngIf="logement.image == ''">
          <img
            src="assets/images/logement2.jpg"
            alt=""
            [routerLink]="['/detail-annonce', logement.id]"
          />
        </div>

        <!-- Utilisez la nouvelle propriété firstImage au lieu de logement.images -->
      </div>
      <div class="card_info">
        <div class="card_info_left">
          <h6>{{ logement.proprietaire }} {{ logement.proprietairePrenom }}</h6>
          <p>
            {{ logement.type }}
          </p>
        </div>
        <div class="card_info_right">
          <h6 id="prix">{{ logement.prix }} FCFA</h6>
          <p><i class="fa-solid fa-location-dot"></i> {{ logement.adresse }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
