<app-header></app-header>
<div class="Container">
  <div class="Section_contenu">
    <div class="banner">
      <h3>Politique de confidentialité</h3>
    </div>
    <div class="lien_home">
      <i class="fa-solid fa-house"></i>
      <span id="home">Acceuil</span>
      <i class="fa-solid fa-chevron-right"></i>
      <span>Politique de confidentialité</span>
    </div>
    <div class="Plan_site">
      <div class="Plan_site_left">
        <h6>Politique de confidentialité</h6>
        <div class="Section_1">
          <p>
            Notre politique de confidentialité a pour but de vous informer de la
            manière dont Trouve ton toît utilise et protège les informations que
            vous transmettez lors de votre inscription et de votre utilisation
            du site internet accessible à l’adresse URL suivante: [URL du site].
            Veuillez noter que cette politique de confidentialité est
            susceptible d’être modifiée ou complétée à tout moment par Trouve
            ton toît notamment en vue de se conformer à toute évolution
            législative, réglementaire, jurisprudentielle ou technologique. Dans
            un tel cas, la date de sa mise à jour sera clairement identifiée en
            tête de la présente politique. Ces modifications engagent
            l’Utilisateur dès leur mise en ligne. Il convient par conséquent que
            l’Utilisateur consulte régulièrement la présente politique de
            confidentialité et d’utilisation des cookies afin de prendre
            connaissance de ses éventuelles modifications.
          </p>
        </div>
        <div class="Section_2">
          <h6>Données personnelles</h6>
          <p>
            Il vous est possible de visiter le site Trouve ton tôit sans fournir
            aucune information personnelle. Néanmoins, dans le but de faciliter
            votre utilisation de la plateforme, il vous sera demandé lors de
            votre inscription ou du dépôt d’une candidature de transmettre
            certaines informations. À ce titre, Trouve ton tôit sera amené à
            vous demander de renseigner vos noms prénom, adresse email, date de
            naissance, nationalité, état civil, ville de recherche, statut,
            revenus nets mensuels. De plus, Trouve ton tôit sera également amené
            à vous demander des informations liées à vos garants: civilité,
            prénom, nom, lien de parenté, téléphone, adresse email, statut,
            nombre de personnes à charge, adresse postale, pays de résidence,
            revenus nets, contrat d’emploi, information sur vos logements
            (propriétaire, locataire…), situation professionnelle, employeurs,
            charges (emprunt ou pension), nationalité. Dans le cas, d’une
            inscription avec vos identifiants Facebook ou Google, Trouve ton
            tôit sera amené à recevoir les informations que vous aurez accepté
            de transmettre via votre compte Facebook ou Google. En fournissant
            ces informations, vous acceptez expressément qu’elles soient
            traitées par Trouve ton tôit, aux fins indiquées ci-dessous ainsi
            qu’aux fins rappelées à la fin de chaque formulaire. En cas de
            refus, il se peut que vous ne puissiez pas bénéficier de certaines
            informations ou services que vous avez demandés. Conformément au
            Règlement Général sur la Protection des Données (RGPD) adopté par le
            Parlement européen le 14 avril 2016, et à la Loi Informatique et
            Libertés du 6 janvier 1978 modifiée, Trouve ton tôit vous informe
            des points suivants:
          </p>
        </div>
        <div class="Section_3">
          <h6>Identité du responsable du traitement</h6>
          <p>
            Le responsable du traitement est la société Trouve ton tôit, ayant
            son siège social à Almadie. Email :trouvetontoit@gmail.com
          </p>
        </div>
        <div class="Section_4">
          <h6>Finalité du traitement</h6>
          <p>
            Trouve ton tôit est susceptible de traiter vos informations
            personnelles dans les cas suivants : Dans le but de vous fournir les
            informations et les services que vous aurez acceptés de recevoir
            (Newsletter, Guides, Quizz, offre de logement) Dans le but de
            recueillir des informations nous permettant d’améliorer notre Site,
            nos produits et services Dans le but de traiter les candidatures que
            vous aurez soumises dans le cadre de votre recherche de logement.
            Dans le cadre d’une procédure légale (mandat de perquisition,
            ordonnance d’un tribunal, etc.)
          </p>
        </div>
        <div class="Section_4">
          <h6>Rectification et suppression des données</h6>
          <p>
            Vous avez la faculté de modifier vos informations personnelles
            depuis votre profil utilisateur. Si vous souhaitez la suppression
            complète de vos données, vous devez nous adresser une demande en
            nous contactant. Vous pouvez effectuer votre demande sur notre
            plateforme support: Suppression de vos donnnées personnelles.
            Adresse postale : Trouve ton toît. Email : trouvetontoit@gmail.com
            Cependant, en raison de l’obligation de sécurité et de
            confidentialité dans le traitement des données à caractère personnel
            qui incombe à Trouve ton toît, vous êtes informé que votre demande
            sera traitée sous réserve que vous rapportiez la preuve de votre
            identité, notamment par la production d’un scan de votre titre
            d’identité valide ou d’une photocopie signée de votre titre
            d’identité valide (en cas de demande adressée par écrit). Trouve ton
            toît s’engage à répondre à votre demande dans un délai raisonnable
            qui ne saurait dépasser 1 mois à compter de la réception de votre
            demande.
          </p>
        </div>
      </div>
      <div class="Plan_site_right">
        <ul>
          <li>Plan du site</li>
          <li>Section FAQ</li>
          <li>Mention Legale</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
