<div class="dashbord">
  <div class="section sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="section">
    <!-- Le navbar  -->
    <app-navbar></app-navbar>
    <div class="containerMessage container">
      <div class="row sectionEspace search mb-3">
        <div class="col-md-3">
          <h4 class="fw-bold mb-3" style="margin-left: 20px">
            Listes des Inscrits
          </h4>
        </div>
        <div class="col-md-5">
          <div class="input-group">
            <input
              type="text"
              name="search"
              class="form-control"
              [(ngModel)]="filterValue"
              (input)="onSearch()"
              placeholder="Rechercher ......"
            />
          </div>
        </div>
      </div>

      <div class="Section_Statistique">
        <div class="tableSection">
          <table class="table">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  id
                </th>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  Email
                </th>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  Date de Creation
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Newsletter of getItemsPage()">
                <td>{{ Newsletter.id }}</td>
                <td>{{ Newsletter.email }}</td>
                <td>{{ Newsletter.created_at }}</td>
              </tr>
            </tbody>
          </table>
          <h4 *ngIf="tabMessageFilter.length == 0" style="text-align: center">
            Aucun resultat
          </h4>
          <div
            class="d-flex flex-wrap justify-content-center my-5"
            id="pagination"
          >
            <button
              class="btn pagiColor me-2"
              [disabled]="pageActuelle === 1"
              (click)="pageActuelle = pageActuelle - 1"
            >
              Précédent
            </button>
            <button
              class="btn pagiColore ms-2"
              *ngFor="let page of pages"
              [class.current]="page === pageActuelle"
              (click)="pageActuelle = page"
            >
              {{ page }}
            </button>
            <button
              class="btn pagiColor ms-2"
              [disabled]="pageActuelle === totalPages"
              (click)="pageActuelle = pageActuelle + 1"
            >
              Suivant
            </button>
          </div>
        </div>
        <div class="Section_Statistique_right">
          <h5 class="text-center py-3">Statistique</h5>
          <div class="Stat_right">
            <div class="Section_left">
              <h5 class="">Nombre localité</h5>
              <h4>{{ localiteLength }}</h4>
            </div>
            <div class="Section_right">
              <button routerLink="/dashboard_localites">voir plus</button>
            </div>
          </div>
          <hr />
          <div class="Stat_right">
            <div class="Section_left">
              <h5 class="">Nombre d'alert</h5>
              <h4>{{ tailleAlert }}</h4>
            </div>
            <div class="Section_right">
              <button routerLink="/dashboard_alerts">voir plus</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
    </div>

    <!-- Liste des sections d'une ligne  -->
  </div>
</div>
