<app-header></app-header>
<div class="Section_content">
  <!------------- Debut Section Banniere ------------>
  <div class="container-fluid Section_content_main">
    <div class="Section_content_left">
      <h1>Trouver un logement étudiant au Sénégal</h1>
      <p>
        Comment trouver un logement au Sénégal dans laquelle près de 20 000
        jeunes viennent étudier chaque année ? Résidence étudiante ou studio,
        colocation ou chambre chez l’habitant, découvrez les logements Studapart
        !
      </p>
      <button>Je trouve mon Logement</button>
      <div class="Section_left_image"></div>
    </div>
    <div class="Section_content_right">
      <div class="Section_right_image"></div>
      <div class="Content_Recherche">
        <div class="Content_Recheche_main">
          <h6>Logement étudiant et location jeune actif partout au Sénégal</h6>
          <p>
            Faites votre recherche parmi plus de 300 000 offres de logements
            étudiants
          </p>
          <div class="Content_Champs">
            <input type="text" />
            <button>Rechercher</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------- Fin Section Banniere ------------>

  <!------------- Debut Section Owner ------------>
  <div class="container-fluid Section_Content_Owner">
    <div class="Section_Content_Owner_Left">
      <div class="Section_Owner_Left">
        <div class="Left_Photo">
          <div>
            <img src="assets/images/house4.jpg" alt="" />
          </div>
          <br />
          <div>
            <img src="assets/images/house5.jpg" alt="" />
          </div>
        </div>
        <div class="Right_Photo">
          <img src="assets/images/house1.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="Section_Content_Owner_Right">
      <h5>Vous êtes propriétaire ?</h5>
      <h3>Louez votre logement</h3>
      <ul>
        <li>Déposez gratuitement votre annonce immobilière</li>
        <li>Déposez gratuitement votre annonce immobilière</li>
        <li>Déposez gratuitement votre annonce immobilière</li>
      </ul>
      <button>Je depose mon annonce gratuitement</button>
    </div>
  </div>
  <!------------- Fin Section Owner ------------>

  <!--------------- Debut Section Ville --------->
  <div class="Section_Content_Ville">
    <h2>Louer un logement etudiant, partout au Sénégal.</h2>
    <p>Une sélection de villes étudiantes et dynamiques où il fait bon vivre</p>
    <div class="Section_Ville_Card">
      <div class="Section_Card">
        <img src="assets/images/ville1.jpg" alt="" />
      </div>
      <div class="Section_Card">
        <img src="assets/images/ville2.jpg" alt="" />
      </div>
      <div class="Section_Card">
        <img src="assets/images/ville3.PNG" alt="" />
      </div>
      <div class="Section_Card">
        <img src="assets/images/ville4.jpg" alt="" />
      </div>
    </div>
  </div>
  <!--------------- Fin Section Ville --------->

  <!------------Debut Section Students------- -->
  <div class="Section_Content_Students">
    <div class="Section_Students_Left">
      <div class="image1">
        <img src="assets/images/student1.jpg" alt="" />
      </div>
      <div class="image2">
        <img src="assets/images/student2.png" alt="" />
      </div>
    </div>
    <div class="Section_Students_Right">
      <p>Trouver un logement étudiant, c’est simple sur ImmoJeune</p>
      <div class="etape">
        <p><span class="circle">1</span></p>
        <h6>Je crée un compte et complète mon dossier de location en ligne</h6>
      </div>
      <div class="etape">
        <p><span class="circle">2</span></p>
        <h6>Je crée un compte et complète mon dossier de location en ligne</h6>
      </div>
      <div class="etape">
        <p><span class="circle">3</span></p>
        <h6>Je crée un compte et complète mon dossier de location en ligne</h6>
      </div>

      <p><button>COMMENCER MA RECHERCHE</button></p>
    </div>
  </div>
  <!------------Fin Section Students------- -->

  <!-----------Debut Section Alert----------->
  <div class="Section_Content_Alert">
    <div class="Alert_Left">
      <h2>Créer une alerte personnalisée</h2>
      <p id="alert_text">
        Nous faisons le travail pour vous - vous pouvez vous détendre ! Créez
        une alerte personnalisée et recevez immédiatement un e-mail lorsque de
        nouvelles annonces correspondant à votre recherche sont publiées.
      </p>
      <button data-bs-toggle="modal" data-bs-target="#exampleModal">
        Creer une alerte
      </button>
    </div>
    <div class="Alert_Right">
      <img src="assets/images/Alert1.jpg" alt="" />
    </div>
  </div>
  <!-----------Fin Section Alert ----------

  <-------- Debut Section Video -------------->
  <div class="Section_Content_Video">
    <div class="Section_Video_Left"></div>
    <div class="Section_Video_Right">
      <p>Nos conseils en vidéo pour se loger</p>
      <ul>
        <li>
          <i class="fa-solid fa-play"></i> Quand chercher un logement étudiant
        </li>
        <li>
          <i class="fa-solid fa-play"></i> Les 5 Erreurs à éviter lors de votre
          recherche
        </li>
        <li>
          <i class="fa-solid fa-play"></i> Tout savoir sur le dossier de
          location
        </li>
        <li>
          <i class="fa-solid fa-play"></i> Comment reussir son état des lieux
        </li>
      </ul>

      <p><button>CREER UNE ALERTE</button></p>
    </div>
  </div>
  <!---------- Fin Section Video ---------------->

  <!---------- Debut Section Temoignage------------>
  <div class="Section_Content_Temoignage">
    <h2 style="text-align: center">
      Bruit de coulisses : Découvrez ce que disent les autres."
    </h2>
    <br />
    <div class="Temoignage_Card">
      <div class="Card">
        <div class="Card_text">
          <img src="assets/images/temoignage1.png" alt="" />
          <p>
            J'étais désespérément à la recherche d'un logement étudiant lorsque
            j'ai découvert immojeune. Le processus de recherche de logement
            était épuisant jusqu'à ce que je trouve ce site. Non seulement j'ai
            pu trouver un studio à proximité de mon université, mais en plus, le
            processus de réservation était simple et rapide.
          </p>
        </div>
      </div>
      <div class="Card1">
        <div class="Card_text">
          <img src="assets/images/temoignage2.png" alt="" />
          <p>
            J'étais désespérément à la recherche d'un logement étudiant lorsque
            j'ai découvert immojeune. Le processus de recherche de logement
            était épuisant jusqu'à ce que je trouve ce site. Non seulement j'ai
            pu trouver un studio à proximité de mon université, mais en plus, le
            processus de réservation était simple et rapide.
          </p>
        </div>
      </div>
      <div class="Card">
        <div class="Card_text">
          <img src="assets/images/temoignage3.png" alt="" />

          <p>
            J'étais désespérément à la recherche d'un logement étudiant lorsque
            j'ai découvert immojeune. Le processus de recherche de logement
            était épuisant jusqu'à ce que je trouve ce site. Non seulement j'ai
            pu trouver un studio à proximité de mon université, mais en plus, le
            processus de réservation était simple et rapide.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--------------------- Fin Section Temoignange ------------------->

  <div class="Section_Newsletters">
    <h5>Inscrivez-vous a la Newsletter</h5>
    <div class="Newsletters_form">
      <form action="">
        <div class="inscription">
          <input type="email" placeholder="Saisissez votre Adresse mail"/>
          <button>S'inscrire</button>
        </div>
      </form>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Detail Utilisateur
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="Formulaire">
            <form action="">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Budget</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                  name="budget"
                  [(ngModel)]="budget_alert"
                />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Description</label
                >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  name="description"
                  [(ngModel)]="description_alert"
                ></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Caracteristique</label
                >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  name="caracteristiques"
                  [(ngModel)]="caracteristique_alert"
                ></textarea>
              </div>
              <p>{{ caracteristique_alert }}</p>
              <button type="submit" (click)="RegisterAlert()">valider</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
        </div>
      </div>
    </div>
  </div>
  <!---------- Fin Section Temoignage-------------->
</div>
<app-footer></app-footer>
