.dashbord {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.container {
  padding: 0 8vh;
}
.container .card {
  border: none;
  border-radius: 0;
  /* min-height: 50vh; */
}

/* Recherche réseaux  */
.search input {
  border-right-color: white;
}

.search .iconesearch {
  background-color: white;
  border-left-color: white;
  color: var(--base2);
}

/* le tableau  */
thead tr th {
  background-color: var(--base1);
  color: white;
}

/* pagination  */
.pageActuelle {
  color: var(--base2);
  font-weight: bold;
}

.btnColor {
  color: var(--base1);
  border: 1px solid var(--base1);
  background-color: white;
}

.page {
  background-color: white;
  border: none;
}

.Section_Statistique_right {
  background-color: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  width: 100%;
  height: 270px;
  border-radius: 15px;
}

.Stat_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Section_right button {
  background-color: #133e33;
  color: white;
  padding: 0.6em;
  border: none;
  border-radius: 5px;
}

.Section_left h4 {
  color: #ffd100;
}

.table i {
  color: white;
}

.Detail_utilisateur {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Detail_personelle {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.personnelle_image img {
  width: 370px;
  height: 300px;
  border-radius: 20px;
}

#publication button {
  margin-left: 10px;
  background-color: #133e33;
  color: white;
  padding: 0.5em;
  margin-left: 15px;
  border: none;
}

#modifier {
  background-color: #133e33;
  color: white;
  padding: 0.4em;
  width: 100px;
  border: none;
}

#modifier1 {
  background-color: #d9d9d9;
  color: white;
  padding: 0.4em;
  width: 100px;
  border: none;
}

.pagiColor {
  background-color: #133e33;
  color: white;
}
.pagiColore.current {
  background-color: #133e33;
  color: white;
}

.pagiColore {
  border: 1px solid var(--kergui-blue);
  color: var(--kergui-blue);
}

@media screen and (max-width: 1400px) {
  #alerte {
    font-size: 22px;
  }
}

@media screen and (max-width: 1000px) {
  #alerte {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  #alerte {
    display: none;
  }

  #boutton {
    display: block; /* Utiliser Flexbox */
    align-items: center; /* Aligner verticalement les éléments */
    justify-content: center;
  }
}
