<div class="dashbord">
  <div class="section sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="section">
    <!-- Le navbar  -->
    <app-navbar></app-navbar>

    <!-- Liste des sections d'une ligne  -->
    <div class="containerMessage container">
      <div class="row sectionEspace search mb-3">
        <div class="col-md-3">
          <h4 class="fw-bold mb-3" style="margin-left: 20px">
            Listes des Annonces
          </h4>
        </div>
        <div class="col-md-5">
          <div class="input-group">
            <input
              type="text"
              name="search"
              class="form-control"
              [(ngModel)]="filterValue"
              (input)="onSearch()"
              placeholder="Rechercher ......"
            />
            <button class="iconesearch input-group-text">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
        <div class="col-md-3">
          <select name="" id="select_option">
            <option value="all">Tout...</option>
            <option value="etudiant">Prise en charge</option>
            <option value="prorietaire">Non prise en charge</option>
          </select>
        </div>
      </div>

      <div class="Section_Statistique">
        <div class="tableSection">
          <table class="table">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  id
                </th>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  Budget
                </th>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  Prise en charge
                </th>

                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let alert of getItemsPage()">
              <tr>
                <td class="text-center">{{ alert.id }}</td>
                <td class="text-center">{{ alert.budget }} FCFA</td>
                <td class="text-center">
                  {{
                    alert.prisEnCharge === 0
                      ? "Non prise en charge"
                      : "Prise en charge"
                  }}
                </td>

                <td class="text-center">
                  <button
                    class="btn me-2"
                    style="background-color: #133e33"
                    data-bs-toggle="modal"
                    data-bs-target="#detailMentor"
                  >
                    <i
                      class="bx bxs-show"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      (click)="detailAlert(alert.id)"
                    ></i>
                  </button>

                  <!-- <button class="btn" style="background-color: #133e33">
                    <i class="bx bxs-archive-in"></i>
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="getItemsPage().length">
            <div class="d-flex justify-content-end mb-2">
              <button
                class="rounded-2 btnColor mx-2"
                [disabled]="pageActuelle === 1"
                (click)="pageActuelle = pageActuelle - 1"
              >
                <i class="bi bi-caret-left-fill fs-4"></i>
              </button>
              <button
                class="mx-2 page"
                *ngFor="let page of pages"
                (click)="pageActuelle = page"
              >
                <span class="pageActuelle fs-5" *ngIf="page === pageActuelle">{{
                  page
                }}</span>
                <span *ngIf="page != pageActuelle">{{ page }}</span>
                <!-- {{ page }} -->
              </button>
              <button
                class="rounded-2 btnColor mx-2"
                [disabled]="pageActuelle === totalPages"
                (click)="pageActuelle = pageActuelle + 1"
              >
                <i class="bi bi-caret-right-fill fs-4"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail Utilisateur
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="Detail_personelle">
                <div class="Detail_utilisateur">
                  <div class="Section_utilisateur">
                    <div class="Section_budget_id">
                      <div>
                        <p>
                          Budget: <span>{{ currentAlert?.budget }} FCFA</span>
                        </p>
                      </div>
                      <div>
                        <p>
                          Prise en charge:
                          <span>{{ currentAlert?.prisEnCharge }}</span>
                        </p>
                      </div>
                    </div>


                    <div class="detail">
                      <p>Description:</p>
                      <p>{{ currentAlert?.description }}</p>
                    </div>
                    <div class="detail">
                      <p>caracteristique:</p>
                      <p>{{ currentAlert?.caracteristiques }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Fermer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
