* {
  margin: 0;
  padding: 0;
}

:root {
  --couleur-principale: #1b9476;
  --couleur-texte: #ffd100;
  --couleur-fond: #133e33;
  --couleur-footer: #d9d9d9;
}

/*---------------Debut Section Header-------------- */
.navbar {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1.3em;
}

.navbar-brand img {
  width: 150px;
}

.navbar ul li:last-child {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.navbar ul li:nth-child(5) {
  position: absolute;
  right: 0;
  margin-right: 210px;
}

.navbar ul li button {
  background-color: var(--couleur-principale);
  border: none;
  padding: 0.7em;
  color: white;
  margin-top: -40px;
  border-radius: 10px;
}

.navbar ul li a:hover {
  color: var(--couleur-principale);
}

/*---------------Fin Section Header ------------------*/

/*-------------- Debut Section Footer-----------------*/

.footer {
  width: 100%;
  background-color: var(--couleur-footer);
  height: 430px;
  margin-top: 170px;
}

.Section_Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
}

.Section_Footer_Left img {
  height: 190px;
}

.Section_Footer_Right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.Section_Footer_Right ul li {
  list-style: none;
}

.Section_footer ul li {
  line-height: 40px;
}

.Section_Footer ul li:first-child {
  font-weight: bold;
  font-size: 18px;
}

.demi-cercle {
  width: 100px;
  height: 100px;
  background-color: var(--couleur-principale); /* Couleur du demi-cercle */
  border-top-left-radius: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.ligne-horizontal {
  width: 92%; /* Largeur de la ligne */
  height: 0.5px; /* Épaisseur de la ligne */
  background-color: var(--couleur-principale); /* Couleur de la ligne */
  margin: 70px auto 0;
}

.Section_Footer_Left {
  border-right: 2px solid var(--couleur-principale);
  padding-right: 80px;
}

/*---------------Fin Section Footer-------------------*/

.Inscription {
  background: url("../../../../assets/images/inscription.jpg"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 610px;
  flex-shrink: 0;
  margin-top: -3px;
}

.Formulaire {
  /* background-color: rgba(255, 255, 255, 0.139); */
  background-color: white;
  width: 400px;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  top: 50px;
  padding: 2em;
  border-radius: 20px;
  /* backdrop-filter: blur(10px); */
}

.Formulaire h3 {
  text-align: center;
  margin-bottom: 12px;
}

.formGroup,
.formGroup1 {
  /* line-height: 35px; */
  padding-top: 0.9em;
}

.formGroup label {
  margin-bottom: 7px;
}

.formGroup input {
  width: 330px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.Formulaire button {
  width: 330px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--couleur-principale);
  margin-top: 15px;
  color: white;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  padding-left: 13px; /* Vous pouvez ajuster la valeur selon vos besoins */
}

.Formulaire input,
.Formulaire1 input {
  outline: none;
  border: 1px solid black;
}

.validation {
  margin-top: 12px;
}

#forgot,
#Compte {
  text-align: center;
  margin-top: 15px;
  text-decoration: underline;
  color: var(--couleur-principale);
  cursor: pointer;
}

/*  */

.Inscription1 {
  background: url("../../../../assets/images/inscription.jpg"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 610px;
  flex-shrink: 0;
  margin-top: -3px;
}

.Formulaire1 h3 {
  text-align: center;
  margin-bottom: 5px;
}

.Formulaire1 {
  background-color: white;
  max-width: 400px;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  top: 10px;
  padding: 2em;
  border-radius: 20px;
}

.section_next {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}

#retour {
  background-color: #a9a9a9;
  margin-top: 20px;
  width: 90px;
  border-radius: 5px;
}

#retour1 {
  background-color: #1b9476;
  margin-top: 20px;
  width: 90px;
  border-radius: 5px;
}

#send {
  margin-top: 20px;
  border-radius: 5px;
  width: 150px;
}

#suivant {
  background-color: #1b9476;
  color: white;
  margin-top: 20px;
  width: 90px;
  border-radius: 5px;
}

#suivant1 {
  background-color: #a9a9a9;
  color: white;
  margin-top: 20px;
  width: 90px;
  border-radius: 5px;
}

.Formulaire1 h3 {
  text-align: center;
}

.formGroup1 {
  line-height: 30px;
}

.formGroup1 input {
  width: 340px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: block;
  margin: auto;
}

.Formulaire1 button {
  width: 330px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: black;
  margin-top: 15px;
  color: white;
  display: block;
  margin: auto;
}
/*
.formGroup1 label {
  margin-left: 8px;
} */

#forgot1,
#Compte1 {
  text-align: center;
  margin-top: 15px;
  text-decoration: underline;
  color: var(--couleur-principale);
  cursor: pointer;
}

.FormGoup_Container1 {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; */
}

#connexion1 {
  text-align: center;
}

.info_Etudiant {
  margin-top: -30px;
  margin-bottom: 15px;
}

.Statut_etudiant {
  display: flex;
  gap: 30px;
  justify-content: start;
  margin-top: 25px;
}

#verifEmail {
  margin-top: -10px;
  display: block;
}

#verifEmailcorrect {
  margin-top: -10px;
  display: block;
}

#verifPasswordCon {
  margin-top: -10px;
  display: block;
}

/* Multi Step */
.Etape_location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Etape_location p {
  margin-top: 10px;
}

.Container_Section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* width: 700px; */
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #1b9476;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.circle1 {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.divider {
  /* width: 20%; */
  width: 120px;
  height: 2px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}

.number {
  user-select: none;
}

.etape1 {
  width: 600px;
  margin: auto;
}

.section_next {
  display: flex;
  justify-content: space-between;
}

/* ------------------------------ */

.circle_etape2_active {
  width: 25px;
  height: 25px;
  background-color: #1b9476;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.circle_etape2 {
  width: 25px;
  height: 25px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
/* ----------------------------- */

.circle_etape3_active {
  width: 25px;
  height: 25px;
  background-color: #1b9476;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.circle_etape2 {
  width: 25px;
  height: 25px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.soumettre {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

/* .input-container {
  display: inline-block;
}

.form-control {
  border-radius: 20px;
  height: 40px;
} */

.input-container {
  position: relative;
  display: inline-block; /* Assurez-vous que le conteneur ne prend que la largeur nécessaire */
}

.form-label {
  display: inline-block; /* Permet de positionner le label à côté de l'input */
  vertical-align: middle; /* Aligne verticalement le label avec l'élément input */
}

.form-control {
  width: 340px;
  height: 40px;
  border-radius: 20px;
  vertical-align: middle; /* Aligne verticalement l'élément input avec le label */
  padding: 8px; /* Ajustez selon vos besoins */
}

#justificatif{
  margin-bottom: 2px;
}
