<div class="dashbord">
  <div class="section sidebar">
    <app-sidebar-espace></app-sidebar-espace>
  </div>

  <div class="section">
    <!-- Le navbar  -->
    <app-navbar-espace></app-navbar-espace>

    <!-- Liste des sections d'une ligne  -->
    <div class="containerMessage container">
      <div class="row sectionEspace search mb-3">
        <div class="col-md-5">
          <h3 class="fw-bold mb-3" style="margin-left: 20px">
            Listes des Logements
          </h3>
        </div>
        <div class="col-md-7">
          <div class="input-group">
            <input
              type="text"
              name="search"
              class="form-control"
              placeholder="Rechercher ......"
            />
            <!-- <button class="iconesearch input-group-text">
              <i class="bi bi-search"></i>
            </button> -->
            <div id="publication">
              <button data-bs-toggle="modal" data-bs-target="#AjoutAnnonce">
                Publier une annonce
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="Section_Statistique">
        <div class="tableSection">
          <table class="table">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  id
                </th>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  adresse
                </th>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  localite
                </th>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  prix
                </th>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  disponibilite
                </th>
                <th
                  scope="col"
                  class="text-center text-white"
                  style="background-color: #133e33"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let logement of getItemsPage()">
              <tr>
                <td class="text-center">{{ logement.id }}</td>
                <td class="text-center">{{ logement.adresse }}</td>
                <td class="text-center">{{ logement.localite }}</td>
                <td class="text-center">{{ logement.prix }} FCFA</td>
                <td class="text-center">{{ logement.disponibilite }}</td>
                <td class="text-center">
                  <button
                    class="btn me-2"
                    style="background-color: #133e33"
                    data-bs-toggle="modal"
                    data-bs-target="#detailMentor"
                    (click)="detailLogement(logement.id)"
                  >
                    <i
                      class="bx bxs-show"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    ></i>
                  </button>

                  <button
                    class="btn"
                    style="background-color: #133e33; margin-right: 10px"
                    (click)="recupidlogement(logement.id)"
                  >
                    <i
                      class="fa-regular fa-pen-to-square"
                      data-bs-toggle="modal"
                      data-bs-target="#ModificationLocalite"
                    ></i>
                  </button>

                  <button
                    class="btn"
                    style="background-color: #133e33"
                    (click)="deleteLogement(logement.id)"
                  >
                    <i class="bx bxs-archive-in"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <h4 *ngIf="tabMessageFilter.length == 0" style="text-align: center">
            Aucun resultat
          </h4>
          <div
            class="d-flex flex-wrap justify-content-center my-5"
            id="pagination"
          >
            <button
              class="btn pagiColor me-2"
              [disabled]="pageActuelle === 1"
              (click)="pageActuelle = pageActuelle - 1"
            >
              Précédent
            </button>
            <button
              class="btn pagiColore ms-2"
              *ngFor="let page of pages"
              [class.current]="page === pageActuelle"
              (click)="pageActuelle = page"
            >
              {{ page }}
            </button>
            <button
              class="btn pagiColor ms-2"
              [disabled]="pageActuelle === totalPages"
              (click)="pageActuelle = pageActuelle + 1"
            >
              Suivant
            </button>
          </div>
        </div>
      </div>
      <!-- Modal Detail -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail Logement
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="Detail_personelle">
                <div>
                  <img [src]="firstImage" alt="" id="logement" />
                </div>
                <div class="Detail_utilisateur">
                  <div class="detail_left">
                    <p>Budget: {{ prix_logement }}</p>
                    <p>type: {{ type_logement }}</p>
                    <p>prix: {{ prix_logement }}</p>
                    <p>Nombre Chambre: {{ nombreChambre_logement }}</p>
                    <p>Disponibile : {{ disponibilite_logement }}</p>
                  </div>
                  <div class="detail_righ"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Fermer
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Model Detail -->
      <!-- Debut Modification Alert -->
      <div
        class="modal fade"
        id="ModificationLocalite"
        tabindex="-1"
        aria-labelledby="ModificationLocaliteLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1
                class="modal-title fs-5 text-center"
                id="ModificationLocaliteLabel"
              >
                Modification Logement
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="Formulaire">
                <form
                  (ngSubmit)="updateLogement()"
                  enctype="multipart/form-data"
                >
                  <div class="mb-3">
                    <label for="adresse" class="form-label">Adresse</label>
                    <input
                      type="text"
                      class="form-control"
                      id="adresse"
                      placeholder="Adresse"
                      name="adresse"
                      (input)="validateAdresse()"
                      [(ngModel)]="logement.adresse"
                      required
                    />
                  </div>
                  <p *ngIf="exacteAdresse">{{ verifeAdresse }}</p>
                  <p class="text-danger" *ngIf="!exacteAdresse">
                    {{ verifeAdresse }}
                  </p>

                  <div class="mb-3">
                    <label for="prix" class="form-label">Prix</label>
                    <input
                      type="number"
                      class="form-control"
                      id="prix"
                      placeholder="Prix"
                      name="prix"
                      (input)="validatePrix()"
                      [(ngModel)]="logement.prix"
                      required
                    />
                  </div>
                  <!-- <p *ngIf="exactePrix">{{ verifePrix }}</p> -->
                  <p class="text-danger" *ngIf="!exactePrix">
                    {{ verifePrix }}
                  </p>
                  <div class="mb-3">
                    <label for="equipements" class="form-label"
                      >Équipements</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="equipements"
                      placeholder="Équipements"
                      name="equipements"
                      (input)="validateEquipement()"
                      [(ngModel)]="logement.equipements"
                      required
                    />
                  </div>
                  <p *ngIf="exacteEquipement">{{ verifeEquipement }}</p>
                  <p class="text-danger" *ngIf="!exacteEquipement">
                    {{ verifeEquipement }}
                  </p>
                  <div class="mb-3">
                    <label for="localite_id" class="form-label"
                      >Localité
                    </label>
                    <select
                      id="localite_id"
                      name="localite_id"
                      (change)="validateLocalite()"
                      [(ngModel)]="logement.localite_id"
                    >
                      <option
                        *ngFor="let localite of localite"
                        [value]="localite.id"
                      >
                        {{ localite.nomLocalite }}
                      </option>
                    </select>
                  </div>
                  <p *ngIf="exacteLocalite">{{ verifeLocalite }}</p>
                  <p class="text-danger" *ngIf="!exacteLocalite">
                    {{ verifeLocalite }}
                  </p>
                  <div class="mb-3">
                    <label for="type" class="form-label">Type</label>
                    <select
                      name="type"
                      type="text"
                      [(ngModel)]="logement.type"
                      (change)="validateType()"
                      id="type"
                    >
                      <option value="Studio">Studio</option>
                      <option value="Appartement">Appartement</option>
                    </select>
                  </div>
                  <p *ngIf="exacteType">{{ verifeType }}</p>
                  <p class="text-danger" *ngIf="!exacteType">
                    {{ verifeType }}
                  </p>
                  <div class="mb-3">
                    <label for="description" class="form-label"
                      >Description</label
                    >
                    <textarea
                      class="form-control"
                      id="description"
                      rows="3"
                      name="description"
                      (input)="validateDescription()"
                      [(ngModel)]="logement.description"
                      required
                    ></textarea>
                  </div>
                  <p *ngIf="exacteDescription">{{ verifeDescription }}</p>
                  <p class="text-danger" *ngIf="!exacteDescription">
                    {{ verifeDescription }}
                  </p>
                  <div class="mb-3">
                    <label for="nombreChambre" class="form-label"
                      >Nombre de Chambres</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="nombreChambre"
                      placeholder="Nombre de Chambres"
                      name="nombreChambre"
                      (input)="validateChambre()"
                      [(ngModel)]="logement.nombreChambre"
                      required
                    />
                  </div>
                  <p *ngIf="exacteChambre">{{ verifeChambre }}</p>
                  <p class="text-danger" *ngIf="!exacteChambre">
                    {{ verifeChambre }}
                  </p>
                  <div class="mb-3">
                    <label for="disponibilite" class="form-label"
                      >Disponibilité</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="disponibilite"
                      name="disponibilite"
                      (change)="validateDisponibilite()"
                      [(ngModel)]="logement.disponibilite"
                      required
                    />
                  </div>
                  <p *ngIf="exacteDisponibilite">{{ verifeDisponibilite }}</p>
                  <p class="text-danger" *ngIf="!exacteDisponibilite">
                    {{ verifeDisponibilite }}
                  </p>
                  <div class="mb-3">
                    <label for="superficie" class="form-label"
                      >Superficie</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="superficie"
                      placeholder="Superficie"
                      name="superficie"
                      (input)="validateSurface()"
                      [(ngModel)]="logement.superficie"
                      required
                    />
                  </div>
                  <p *ngIf="exacteSurface">{{ verifeSuface }}</p>
                  <p class="text-danger" *ngIf="!exacteSurface">
                    {{ verifeSuface }}
                  </p>
                  <div class="mb-3">
                    <label for="formFile" class="form-label"
                      >Sélectionnez une image</label
                    >
                    <input
                      class="form-control"
                      name="nomImage"
                      type="file"
                      id="formFile"
                      (change)="validateImage()"
                      (change)="getFile($event)"
                      required
                    />
                  </div>
                  <p *ngIf="exacteImage">{{ verifeImage }}</p>
                  <p class="text-danger" *ngIf="!exacteImage">
                    {{ verifeImage }}
                  </p>

                  <button
                    type="submit"
                    class="btn btn-primary"
                    id="suivant"
                    data-bs-dismiss="modal"
                    *ngIf="
                      exacteDescription &&
                      exacteAdresse &&
                      exacteChambre &&
                      exacteDisponibilite &&
                      exacteEquipement &&
                      exacteLocalite &&
                      exactePrix &&
                      exacteSurface &&
                      exacteType
                    "
                  >
                    Modifier
                  </button>

                  <button
                    type="submit"
                    class="btn btn-primary"
                    id="suivant"
                    disabled
                    data-bs-dismiss="modal"
                    *ngIf="
                      exacteDescription == false ||
                      exacteAdresse == false ||
                      exacteChambre == false ||
                      exacteDisponibilite == false ||
                      exacteEquipement == false ||
                      exacteLocalite == false ||
                      exactePrix == false ||
                      exacteSurface == false ||
                      exacteType == false
                    "
                  >
                    Ajouter
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modification Alert -->
    </div>

    <!-- Debut Ajout Annonces -->
    <div
      class="modal fade"
      id="AjoutAnnonce"
      tabindex="-1"
      aria-labelledby="AjoutAnnonceLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1
              class="modal-title fs-5 text-center"
              id="ModificationLocaliteLabel"
            >
              Ajout Logement
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="Formulaire">
              <form
                (ngSubmit)="ajouterLogement()"
                enctype="multipart/form-data"
              >
                <div class="mb-3">
                  <label for="adresse" class="form-label">Adresse</label>
                  <input
                    type="text"
                    class="form-control"
                    id="adresse"
                    placeholder="Adresse"
                    name="adresse"
                    (input)="validateAdresse()"
                    [(ngModel)]="logement.adresse"
                    required
                  />
                </div>
                <p *ngIf="exacteAdresse">{{ verifeAdresse }}</p>
                <p class="text-danger" *ngIf="!exacteAdresse">
                  {{ verifeAdresse }}
                </p>

                <div class="mb-3">
                  <label for="prix" class="form-label">Prix</label>
                  <input
                    type="number"
                    class="form-control"
                    id="prix"
                    placeholder="Prix"
                    name="prix"
                    (input)="validatePrix()"
                    [(ngModel)]="logement.prix"
                    required
                  />
                </div>
                <!-- <p *ngIf="exactePrix">{{ verifePrix }}</p> -->
                <p class="text-danger" *ngIf="!exactePrix">{{ verifePrix }}</p>
                <div class="mb-3">
                  <label for="equipements" class="form-label"
                    >Équipements</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="equipements"
                    placeholder="Équipements"
                    name="equipements"
                    (input)="validateEquipement()"
                    [(ngModel)]="logement.equipements"
                    required
                  />
                </div>
                <p *ngIf="exacteEquipement">{{ verifeEquipement }}</p>
                <p class="text-danger" *ngIf="!exacteEquipement">
                  {{ verifeEquipement }}
                </p>
                <div class="mb-3">
                  <label for="localite_id" class="form-label">Localité </label>
                  <select
                    id="localite_id"
                    name="localite_id"
                    (change)="validateLocalite()"
                    [(ngModel)]="logement.localite_id"
                  >
                    <option
                      *ngFor="let localite of localite"
                      [value]="localite.id"
                    >
                      {{ localite.nomLocalite }}
                    </option>
                  </select>
                </div>
                <p *ngIf="exacteLocalite">{{ verifeLocalite }}</p>
                <p class="text-danger" *ngIf="!exacteLocalite">
                  {{ verifeLocalite }}
                </p>
                <div class="mb-3">
                  <label for="type" class="form-label">Type</label>
                  <select
                    name="type"
                    type="text"
                    [(ngModel)]="logement.type"
                    (change)="validateType()"
                    id="type"
                  >
                    <option value="Studio">Studio</option>
                    <option value="Appartement">Appartement</option>
                  </select>

                  <!-- <input
                    type="text"
                    class="form-control"
                    id="type"
                    placeholder="Type"
                    name="type"
                    [(ngModel)]="logement.type"
                    required
                  /> -->
                </div>
                <p *ngIf="exacteType">{{ verifeType }}</p>
                <p class="text-danger" *ngIf="!exacteType">
                  {{ verifeType }}
                </p>
                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <textarea
                    class="form-control"
                    id="description"
                    rows="3"
                    name="description"
                    (input)="validateDescription()"
                    [(ngModel)]="logement.description"
                    required
                  ></textarea>
                </div>
                <p *ngIf="exacteDescription">{{ verifeDescription }}</p>
                <p class="text-danger" *ngIf="!exacteDescription">
                  {{ verifeDescription }}
                </p>
                <div class="mb-3">
                  <label for="nombreChambre" class="form-label"
                    >Nombre de Chambres</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="nombreChambre"
                    placeholder="Nombre de Chambres"
                    name="nombreChambre"
                    (input)="validateChambre()"
                    [(ngModel)]="logement.nombreChambre"
                    required
                  />
                </div>
                <p *ngIf="exacteChambre">{{ verifeChambre }}</p>
                <p class="text-danger" *ngIf="!exacteChambre">
                  {{ verifeChambre }}
                </p>
                <div class="mb-3">
                  <label for="disponibilite" class="form-label"
                    >Disponibilité</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="disponibilite"
                    name="disponibilite"
                    (change)="validateDisponibilite()"
                    [(ngModel)]="logement.disponibilite"
                    required
                  />
                </div>
                <p *ngIf="exacteDisponibilite">{{ verifeDisponibilite }}</p>
                <p class="text-danger" *ngIf="!exacteDisponibilite">
                  {{ verifeDisponibilite }}
                </p>
                <div class="mb-3">
                  <label for="superficie" class="form-label">Superficie</label>
                  <input
                    type="number"
                    class="form-control"
                    id="superficie"
                    placeholder="Superficie"
                    name="superficie"
                    (input)="validateSurface()"
                    [(ngModel)]="logement.superficie"
                    required
                  />
                </div>
                <p *ngIf="exacteSurface">{{ verifeSuface }}</p>
                <p class="text-danger" *ngIf="!exacteSurface">
                  {{ verifeSuface }}
                </p>
                <div class="mb-3">
                  <label for="formFile" class="form-label"
                    >Sélectionnez une image</label
                  >
                  <input
                    class="form-control"
                    name="nomImage"
                    type="file"
                    id="formFile"
                    (change)="validateImage()"
                    (change)="getFile($event)"
                    required
                  />
                </div>
                <p *ngIf="exacteImage">{{ verifeImage }}</p>
                <p class="text-danger" *ngIf="!exacteImage">
                  {{ verifeImage }}
                </p>

                <button
                  type="submit"
                  class="btn btn-primary"
                  id="suivant"
                  data-bs-dismiss="modal"
                  *ngIf="
                    exacteDescription &&
                    exacteAdresse &&
                    exacteChambre &&
                    exacteDisponibilite &&
                    exacteEquipement &&
                    exacteLocalite &&
                    exactePrix &&
                    exacteSurface &&
                    exacteType
                  "
                >
                  Ajouter
                </button>

                <button
                  type="submit"
                  class="btn btn-primary"
                  id="suivant"
                  disabled
                  data-bs-dismiss="modal"
                  *ngIf="
                    exacteDescription == false ||
                    exacteAdresse == false ||
                    exacteChambre == false ||
                    exacteDisponibilite == false ||
                    exacteEquipement == false ||
                    exacteLocalite == false ||
                    exactePrix == false ||
                    exacteSurface == false ||
                    exacteType == false
                  "
                >
                  Ajouter
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin Ajout Annonces -->
  </div>
</div>
