<app-header></app-header>
<div class="Section_Contenu">
  <div class="Section_Contenu_banner">
    <div class="Section_Contenu_banner_left">
      <h2>A propos de nous</h2>
      <p style="width: 620px">
        ÉtudianLoge a pour objectif de résoudre les défis fréquents rencontrés
        par les étudiants internationaux en quête de logements abordables, sûrs
        et confortables dans une ville nouvelle. En mettant l'accent sur la
        facilité d'utilisation, la plateforme offre une variété d'options de
        logement, des chambres individuelles aux appartements partagés, à des
        prix compétitifs.
      </p>
      <button>Contactez-nous</button>
      <div class="espace_blanc"></div>
    </div>
    <div class="Section_Contenu_banner_right"></div>
  </div>
  <div class="left_image">
    <img src="assets/images/banner2.png" alt="" />
  </div>

  <div class="Section_realisation">
    <div class="Realisation_left">
      <div class="Realisation_image">
        <img src="assets/images/logement2.png" alt="" />
      </div>
      <div class="Realisation_image1">
        <img src="assets/images/logement1.png" alt="" />
      </div>
    </div>
    <div class="Realisation_rigth">
      <h2>Nous sommes prêts à réaliser votre rêve</h2>
      <p style="width: 550px">
        ÉtudianLoge a pour objectif de résoudre les défis fréquents rencontrés
        par les étudiants internationaux en quête de logements abordables, sûrs
        et confortables dans une ville nouvelle. En mettant l'accent sur la
        facilité d'utilisation, la plateforme offre une variété d'options de
        logement, des chambres individuelles aux appartements partagés, à des
        prix compétitifs.
      </p>
      <button>Contactez-nous</button>
    </div>
  </div>

  <div class="Section_Inpact">
    <div class="Section_Inpact_left">
      <h3>Mesures de Notre Impact</h3>
      <p style="width: 600px">
        Découvrez notre impact : plus de 1000 logements répertoriés, une
        communauté de 500 clients satisfaits et une croissance continue. Nos
        chiffres parlent de notre engagement à rendre les rêves de logement des
        étudiants étrangers à Dakar une réalité concrète."
      </p>
    </div>
    <div class="Section_Inpact_rigth">
      <div class="Section_Chiffre">
        <img src="assets/images/house1.jpg" alt="" style="height: 300px" />
      </div>
      <div class="Section_Statistique">
        <div class="Statistique">
          <div class="Statistique_Left1">
            <p>1000 +</p>
            <p>logements</p>
          </div>
          <div class="Statistique_Rigth">
            <p>1000 +</p>
            <p>Utilisateurs</p>
          </div>
        </div>
        <div class="Statistique">
          <div class="Statistique_Left">
            <p>1000 +</p>
            <p>Visite /jrs</p>
          </div>
          <div class="Statistique_Rigth1">
            <p>2600 +</p>
            <p>Clients Satisfait</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
