<div class="dashbord">
  <div class="section sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="section">
    <!-- Le navbar  -->
    <app-navbar></app-navbar>

    <!-- Liste des sections d'une ligne  -->
    <div class="containerMessage container">
      <div class="row px-4">
        <div class="card px-4 py-2 pt-4 shadow-sm rounded-4">
          <!-- Recherhcer une ligne  -->
          <div class="row sectionEspace search mb-3">
            <div class="col-md-7">
              <h3 class="fw-bold mb-3">Les messages reçus</h3>
            </div>
            <div class="col-md-5">
              <div class="input-group">
                <!-- <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()"> -->
                <input
                  type="text"
                  name="search"
                  class="form-control"
                  [(ngModel)]="filterValue"
                  (input)="onSearch()"
                  placeholder="Rechercher ......"
                />
                <button class="iconesearch input-group-text">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- Le tableau des réseaux -->
          <table class="table table-responsive mb-4">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Email</th>
                <th scope="col">Sujet</th>
                <th scope="col">Message</th>
                <th scope="col">Date d'inscription</th>
              </tr>
            </thead>

            <tbody *ngFor="let message of getItemsPage()">
              <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.sujet }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.createdAt }}</td>
              </tr>
            </tbody>
          </table>

          <!-- Pagination  -->
          <div *ngIf="getItemsPage().length">
            <div class="d-flex justify-content-end mb-2">
              <button
                class="rounded-2 btnColor mx-2"
                [disabled]="pageActuelle === 1"
                (click)="pageActuelle = pageActuelle - 1"
              >
                <i class="bi bi-caret-left-fill fs-4"></i>
              </button>
              <button
                class="mx-2 page"
                *ngFor="let page of pages"
                (click)="pageActuelle = page"
              >
                <span class="pageActuelle fs-5" *ngIf="page === pageActuelle">{{
                  page
                }}</span>
                <span *ngIf="page != pageActuelle">{{ page }}</span>
                <!-- {{ page }} -->
              </button>
              <button
                class="rounded-2 btnColor mx-2"
                [disabled]="pageActuelle === totalPages"
                (click)="pageActuelle = pageActuelle + 1"
              >
                <i class="bi bi-caret-right-fill fs-4"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
