<!-- Navbar  -->
<div class="navbar ml-3 mb-5 px-5 sticky-top">
  <div>
    <h6>Administrateur JeuneImmo</h6>
  </div>
  <div class="profil">
    <p>Ma GG</p>
  </div>
</div>

<!-- Les statistiques de l'admin systeme  -->
<div class="container statistiqueDashbord mb-5">
  <!-- Les statistiques utilisateurs lignes et réseaux -->
  <div class="row">
    <div class="col-md-12">
      <div class="Card">
        <div class="card1">
          <div class="Card_section">
            <h5 class="titreChiffre">Nombre d'utilisateurs</h5>
            <p class="fs-3 titreText">{{tailleuser}}</p>
          </div>
          <i class="fa-solid fa-eye" routerLink="/dashboard_utilisateurs"></i>
        </div>

        <div class="card1">
          <div class="Card_section">
            <h5 class="titreChiffre">Nombre d'annonces</h5>
            <p class="fs-3 titreText">125</p>
          </div>
          <i class="fa-solid fa-eye" routerLink="/dashboard_annonces"></i>
        </div>

        <div class="card1">
          <div class="Card_section">
            <h5 class="titreChiffre">Nombre d'alerts</h5>
            <p class="fs-3 titreText">125</p>
          </div>
          <i class="fa-solid fa-eye"  routerLink="/dashboard_alerts"></i>
        </div>

      </div>
    </div>
  </div>
</div>
