<div class="container">
  <div class="Section_Header">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="../../../../assets/images/logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                [routerLink]="['/']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Accueil</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/louer']"
                routerLinkActive="active"
                >Louer</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/publier_Annonce']"
                routerLinkActive="active"
                >Proposer un bien</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-disabled="true"
                [routerLink]="['/communaute']"
                routerLinkActive="active"
                >Communauté</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-disabled="true"
                [routerLink]="['/a-propos']"
                routerLinkActive="active"
                >A-propos</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-disabled="true" [routerLink]="['/login']"
                ><button>Se Connecter</button></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-disabled="true"
                [routerLink]="['/publier_Annonce']"
                ><button>Deposer une annonce</button></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<br /><br /><br /><br />
