.dashbord {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.container {
  padding: 0 8vh;
}
.container .card {
  border: none;
  border-radius: 0;
  /* min-height: 50vh; */
}

/* Recherche réseaux  */
.search input {
  border-right-color: white;
}

.search .iconesearch {
  background-color: white;
  border-left-color: white;
  color: var(--base2);
}

/* le tableau  */
thead tr th {
  background-color: var(--base1);
  color: white;
}

/* pagination  */
.pageActuelle {
  color: var(--base2);
  font-weight: bold;
}

.btnColor {
  color: var(--base1);
  border: 1px solid var(--base1);
  background-color: white;
}

.page {
  background-color: white;
  border: none;
}

.Section_Statistique_right {
  background-color: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  width: 100%;
  height: 270px;
  border-radius: 15px;
}

.Stat_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Section_right button {
  background-color: #133e33;
  color: white;
  padding: 0.6em;
  border: none;
  border-radius: 5px;
}

.Section_left h4 {
  color: #ffd100;
}

.table i {
  color: white;
}

.Detail_utilisateur {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Detail_personelle {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.personnelle_image img {
  width: 420px;
  border-radius: 20px;
}

#acceptation button{
  border: 1px solid #133e33;
}
