<app-header></app-header>
<div class="Section_Contenu">
  <div class="Container_Section" *ngIf="changeStep1">
    <div class="Etape">
      <div class="Etape_location">
        <div class="circle">
          <span class="number">1</span>
        </div>
        <p>Etape 1</p>
        <hr class="divider" />
      </div>
    </div>
    <div class="Etape">
      <div class="Etape_location">
        <div class="circle1">
          <span class="number">2</span>
        </div>
        <p>Etape 2</p>
        <hr class="divider" />
      </div>
    </div>
    <div class="Etape">
      <div class="Etape_location">
        <div class="circle1">
          <span class="number">3</span>
        </div>
        <p>Etape 3</p>
      </div>
    </div>
  </div>

  <div class="Container_Section" *ngIf="changeStep2">
    <div class="Etape">
      <div class="Etape_location">
        <div class="circle_etape2">
          <span class="number">1</span>
        </div>
        <p>Etape 1</p>
        <hr class="divider" />
      </div>
    </div>
    <div class="Etape">
      <div class="Etape_location">
        <div class="circle_etape2_active">
          <span class="number">2</span>
        </div>
        <p>Etape 2</p>
        <hr class="divider" />
      </div>
    </div>
    <div class="Etape">
      <div class="Etape_location">
        <div class="circle1">
          <span class="number">3</span>
        </div>
        <p>Etape 3</p>
      </div>
    </div>
  </div>

  <div class="Container_Section" *ngIf="changeStep3">
    <div class="Etape">
      <div class="Etape_location">
        <div class="circle_etape2">
          <span class="number">1</span>
        </div>
        <p>Etape 1</p>
        <hr class="divider" />
      </div>
    </div>
    <div class="Etape">
      <div class="Etape_location">
        <div class="circle_etape2">
          <span class="number">2</span>
        </div>
        <p>Etape 2</p>
        <hr class="divider" />
      </div>
    </div>
    <div class="Etape">
      <div class="Etape_location">
        <div class="circle_etape2_active">
          <span class="number">3</span>
        </div>
        <p>Etape 3</p>
      </div>
    </div>
  </div>

  <div class="Section_formulaire">
    <form
      action=""
      (ngSubmit)="ajouterLogement()"
      enctype="multipart/form-data"
    >
      <!-- ... -->
      <div class="etape1" *ngIf="changeStep1">
        <div class="mb-3">
          <label for="localite_id" class="form-label"
            >Localité <span id="requis">*</span></label
          >
          <select
            id="localite_id"
            name="localite_id"
            class="form-select"
            [(ngModel)]="logement.localite_id"
            (change)="validateLocalite()"
          >
            <!-- <option value="">liste option</option> -->
            <option *ngFor="let localite of localite" [value]="localite.id">
              {{ localite.nomLocalite }}
            </option>
          </select>
          <!-- <p *ngIf="exacteLocalite">{{ verifeLocalite }}</p> -->
        </div>
        <div class="mb-3">
          <label for="adresse" class="form-label"
            >Adresse <span id="requis">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="adresse"
            placeholder="Adresse"
            name="adresse"
            [(ngModel)]="logement.adresse"
            required
            (input)="validateAdresse()"
          />
        </div>
        <!-- <p *ngIf="exacteAdresse">{{ verifeAdresse }}</p> -->
        <p class="text-danger" *ngIf="!exacteAdresse">{{ verifeAdresse }}</p>

        <div class="mb-3">
          <label for="type" class="form-label"
            >Type <span id="requis">*</span></label
          >
          <select
            class="form-select"
            name="type"
            type="text"
            [(ngModel)]="logement.type"
            id="type"
            (change)="validateType()"
          >
            <option value="Studio">Studio</option>
            <option value="Appartement">Appartement</option>
          </select>
          <!-- <p *ngIf="exacteType">{{ verifeType }}</p> -->
        </div>
        <div class="mb-3">
          <label for="superficie" class="form-label"
            >Superficie | m2 <span id="requis">*</span></label
          >
          <input
            type="number"
            class="form-control"
            id="superficie"
            placeholder="Superficie"
            name="superficie"
            [(ngModel)]="logement.superficie"
            required
            (input)="validateSurface()"
          />
          <!-- <p *ngIf="exacteSurface">{{ verifeSuface }}</p> -->
        </div>

        <div class="section_next">
          <button disabled id="retour">retour</button>
          <button
            (click)="changerform('suivant')"
            id="Add"
            *ngIf="
              exacteSurface && exacteType && exacteAdresse && exacteLocalite
            "
          >
            Suivant
          </button>
          <button
            disabled
            id="retour"
            *ngIf="
              exacteSurface == false ||
              exacteType == false ||
              exacteAdresse == false ||
              exacteLocalite == false
            "
          >
            Suivant
          </button>
        </div>
      </div>

      <div class="etape1" *ngIf="changeStep2">
        <div class="mb-3">
          <label for="nombreChambre" class="form-label"
            >Nombre de Chambres <span id="requis">*</span></label
          >
          <input
            type="number"
            class="form-control"
            id="nombreChambre"
            placeholder="Nombre de Chambres"
            name="nombreChambre"
            [(ngModel)]="logement.nombreChambre"
            required
            (input)="validateChambre()"
          />
          <!-- <p *ngIf="exacteChambre">{{ verifeChambre }}</p> -->
        </div>
        <div class="mb-3">
          <label for="disponibilite" class="form-label"
            >Disponibilité <span id="requis">*</span></label
          >
          <input
            type="date"
            class="form-control"
            id="disponibilite"
            name="disponibilite"
            [(ngModel)]="logement.disponibilite"
            required
            (input)="validateDisponibilite()"
          />
          <!-- <p *ngIf="exacteDisponibilite">{{ verifeDisponibilite }}</p> -->
        </div>
        <div class="mb-3">
          <label for="prix" class="form-label"
            >Prix (FCFA)<span id="requis">*</span></label
          >
          <input
            type="number"
            class="form-control"
            id="prix"
            placeholder="Prix"
            name="prix"
            [(ngModel)]="logement.prix"
            required
            (input)="validatePrix()"
          />
          <!-- <p *ngIf="exactePrix">{{ verifePrix }}</p> -->
        </div>
        <div class="mb-3">
          <label for="equipements" class="form-label"
            >Équipements <span id="requis">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="equipements"
            placeholder="Équipements"
            name="equipements"
            [(ngModel)]="logement.equipements"
            required
            (input)="validateEquipement()"
          />
          <!-- <p *ngIf="exacteEquipement">{{ verifeEquipement }}</p> -->
        </div>

        <div class="section_next">
          <button (click)="changerform('retour')" id="retour">retour</button>
          <button
            (click)="changerform('suivant')"
            id="Add"
            *ngIf="
              exacteChambre &&
              exacteDisponibilite &&
              exactePrix &&
              exacteEquipement
            "
          >
            Suivant
          </button>
          <button
            disabled
            id="retour"
            *ngIf="
              exacteChambre == false ||
              exacteDisponibilite == false ||
              exactePrix == false ||
              exacteEquipement == false
            "
          >
            Suivant
          </button>
        </div>
      </div>

      <div class="etape1" *ngIf="changeStep3">
        <div class="mb-3">
          <label for="description" class="form-label"
            >Description <span id="requis">*</span></label
          >
          <textarea
            class="form-control"
            id="description"
            rows="3"
            name="description"
            [(ngModel)]="logement.description"
            required
            (input)="validateDescription()"
          ></textarea>
        </div>

        <div *ngIf="image1.length > 0" class="imageUpload">
          <div id="imagefile" *ngFor="let images of image1; let i = index">
            <img src="../../../../assets/images/imagefile.png" alt="" />
            <p>{{images.name}}</p>
            <p style="text-align: center;" (click)="retirer(i)"><i class="fa-solid fa-x"></i></p>
          </div>
          <p *ngIf="image1.length>3" class="text-danger">Vous ne pouvez pas uploader plus de 3 Images</p>
        </div>

        <div class="mb-3">
          <label for="file" class="custum-file-upload">
            <div class="text">
              <span>Ajouter des fichiers (PNG,JPG) ici</span><br />
              <span>Maximum 3 photos</span>
            </div>
            <input
              id="file"
              type="file"
              name="image"
              (change)="getFile($event)"
              (change)="validateImage()"
              accept="image/*"
              [(ngModel)]="image"
              multiple
            />
          </label>
          <p *ngIf="exacteImage">{{ verifeImage }}</p>
          <p *ngIf="!exacteImage">{{ verifeImage }}</p>
        </div>

        <!-- ... -->
        <div class="section_next">
          <button (click)="changerform('retour')" id="retour">retour</button>
          <button
            id="retour"
            *ngIf="!exacteDescription || !exacteImage || image1.length > 3 || image1.length<1"
            disabled
          >
            Ajouter
          </button>
          <button
            id="Add"
            *ngIf="exacteDescription && exacteImage && image1.length <= 3 && image1.length>0"
          >
            Ajouter
          </button>
        </div>
      </div>
      <!-- ... -->
    </form>
  </div>
</div>
