<app-header></app-header>
<div class="Container">
  <div class="Section_contenu">
    <div class="banner">
      <h3>Mention Legale</h3>
    </div>
    <div class="lien_home">
      <i class="fa-solid fa-house"></i>
      <span id="home">Acceuil</span>
      <i class="fa-solid fa-chevron-right"></i>
      <span>Mention Legale</span>
    </div>
    <div class="Plan_site">
      <div class="Plan_site_left">
        <h6>Mention Legale</h6>
        <div class="Section_1">
          <p>
            Le site Trouve ton toît est un portail immobilier qui propose des
            annonces de location dédiées aux étudiants étrangers à Dakar. Le
            site Trouve ton tôit ainsi que tous les contenus présents sur ce
            site sont la propriété exclusive de la société, au capital inscrite
            au Registre du Commerce et du Crédit Mobilier de Dakar sous le
            numéro 125987466555. Le siège social est sis à Almadies à Dakar,
            Sénégal. Le site Trouve ton toît propose aux particuliers et aux
            agences immobilières de déposer leurs annonces de location
            gratuitement, ainsi que différents types d’annonces de location pour
            les étudiants étrangers à Dakar.
          </p>
        </div>
        <div class="Section_2">
          <h6>Protection des données personnelles</h6>
          <p>
            Le site Trouve ton toît a fait l'objet d'une déclaration auprès de
            l'Autorité de Protection des Données Personnelles (APDP) du Sénégal,
            déclaration numéro 548971236. Trouve ton toît s’engage à respecter
            strictement les dispositions de la loi sénégalaise sur la protection
            des données personnelles. Les informations nominatives que Trouve
            ton toît est amené à recueillir proviennent de l'enregistrement
            volontaire de ces informations sur nos formulaires de contact.
            Conformément à la législation en vigueur, les informations
            indispensables à Trouve ton toît pour traiter et exécuter vos
            demandes, vous sont signalées par un astérisque (*) dans nos pages.
            Les autres informations demandées, pour lesquelles la réponse est
            facultative, sont destinées à mieux vous connaître et ainsi à
            améliorer les services proposés. Vous disposez d'un droit d'accès,
            de modification, de rectification et de suppression des données qui
            vous concernent. Vous pouvez, à tout moment, exercer ce droit en
            vous adressant à: [Nom de la société] par courriel à cette adresse:
            [Adresse e-mail de contact] ou par téléphone au [Numéro de
            téléphone].
          </p>
        </div>
        <div class="Section_3">
          <h6>Informations</h6>
          <p>
            Trouve ton toît fait les meilleurs efforts pour assurer l'exactitude
            de l'ensemble des informations mises à la disposition des visiteurs
            sur Trouve ton toît, exactitude qu'elle ne peut cependant garantir,
            l'internaute étant invité à utiliser ces informations avec
            discernement et esprit critique. Les informations signalées comme
            contenant des inexactitudes juridiques, techniques, des erreurs
            typographiques ou comme étant incomplètes feront l'objet d'un
            traitement sans délais par Trouve ton toît. Pour ce faire, vous
            pouvez nous contacter directement en remplissant le formulaire de
            contact.
          </p>
        </div>
        <div class="Section_4">
          <h6>Loi applicable</h6>
          <p>
            Le contenu du présent site est soumis au droit sénégalais. La
            société Trouve ton toît se réserve le droit à tout moment d'en
            modifier tout ou partie du contenu. Tout litige concernant son
            contenu comme son utilisation et les recours susceptibles d'en
            découler sont soumis à la compétence exclusive des tribunaux
            sénégalais. Le site est hébergé au Sénégal par OVH.
          </p>
        </div>
      </div>
      <div class="Plan_site_right">
        <ul>
          <li>Plan du site</li>
          <li>Section FAQ</li>
          <li>Politique de confidentialité</li>
          <li>Mention Legale</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
