<div class="sidebar">
  <h5 id="admin">{{userOnline=="etudiant"? "Espace Etudiant" : "Espace Proprietaire"}}</h5>
  <div class="separation"></div>

  <ul class="mt-2 containerLink mb-4">
    <!-- <li
      class="mt-4"
      id="dash"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a href="" id="Statistique" routerLink="/espace_personnelle">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="link ms-3 fs-7" id="">Statistique</span>
      </a>
    </li> -->
    <li
      class="mt-4"
      id="dash"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
     *ngIf="userOnline=='etudiant'" >
      <a href="" id="Statistique" routerLink="/espace_personnelle_alerts">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="link ms-3 fs-7" id="">Gestion Annonces</span>
      </a>
    </li>
    <li
      class="mt-4"
      id="dash"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
     *ngIf="userOnline=='etudiant'">
      <a href="" id="Statistique" routerLink="/espace_personnelle_profil">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="link ms-3 fs-7" id="">Information Profil</span>
      </a>
    </li>
    <!-- Information Proprietaire -->
    <li
      class="mt-4"
      id="dash"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="userOnline=='proprietaire'" >
      <a href="" id="Statistique" routerLink="/espace_personnelle_logement">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="link ms-3 fs-7" id="">Gestion Logement</span>
      </a>
    </li>
    <!-- <li
      class="mt-4"
      id="dash"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
     *ngIf="userOnline=='proprietaire'">
      <a href="" id="Statistique" routerLink="/espace_personnelle_message">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="link ms-3 fs-7" id="">Message</span>
      </a>
    </li> -->
    <li
      class="mt-4"
      id="dash"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
     *ngIf="userOnline=='proprietaire'">
      <a href="" id="Statistique" routerLink="/espace_personnelle_proprioProfil">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="link ms-3 fs-7" id="">Information Personnelle</span>
      </a>
    </li>
    <!-- Fin Information Proprietaire -->
  </ul>

  <!-- Le boutton de déconnexion  -->
  <div class="deconnection">
    <button class="btn btnDeconnect fs-5">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span class="ms-3 link" (click)="returnAccueil()">Revenir a l'accueil</span>
    </button>
  </div>
</div>
